<p>
Request: {{method}} <code>{{url}}</code>
{{#if body}}
  <br>Parameters:
  <a class="accordion-toggle collapsed" data-toggle="collapse" href="#bodyParams" aria-expanded="true" aria-controls="bodyParams"></a>
  <div id="bodyParams" class="collapse"><pre>{{body}}</pre></div>
{{/if}}
</p>
<p>
{{#if status}}
  Response status: {{status}}
{{else}}
  Response:
{{/if}}
</p>
<div><pre>{{response}}</pre></div>
