{{#*inline "reqItem"}}
<tr>
<td class="name">{{name}}</td>
<td class="type">{{attr.type}}</td>
<td class="reqParam"><input type="text" class="form-control" name="{{name}}"></td>
<td class="desc">{{{attr.desc}}}</td>
</tr>
{{/inline}}

{{#if urlParams}}
  <h2>URL parameters</h2>
  <table class="table">
  <tr><th class="name">name</th><th class="reqParam">value</th><th class="desc">description</th></tr>
  {{#each urlParams as |param i|}}
    <tr>
    <td class="name">{{param.name}}</td>
    <td class="reqParam"><input type="text" class="form-control" name="url_{{i}}" data-name="{{param.name}}"></td>
    <td class="desc">{{{param.attr.desc}}}</td>
    </tr>
  {{/each}}
  </table>
{{/if}}

{{#if params}}
  <h2>Request parameters</h2>

  {{#if restrictions}}
    <ul>
    {{#each restrictions}}
      <li>{{{@this}}}</li>
    {{/each}}
    </ul>
  {{/if}}

  <table class="table">
  <tr><th class="name">name</th><th class="type">type</th><th class="reqParam">JSON value</th><th class="desc">description</th></tr>
  {{#eachSorted params}}
    {{> reqItem}}
  {{/eachSorted}}
  </table>

  {{#if types}}
    {{> typeDescription}}
  {{/if}}

  <h3>Global</h3>
  <table class="table">
  <tr><th class="name">name</th><th class="type">type</th><th class="reqParam">JSON value</th><th class="desc">description</th></tr>
  {{#eachSorted paramsGlobal}}
    {{> reqItem}}
  {{/eachSorted}}
  </table>
{{/if}}
