{{#*inline "reqTable"}}
<table class="table">
<tr><th class="name">name</th><th class="type">type</th><th class="reqParam">JSON value</th><th class="desc">description</th></tr>
{{#eachSorted params}}
  <tr>
  <td class="name">{{@key}}</td>
  <td class="type">{{type}}{{> typeInfoIcon type=(lookup ../types type)}}</td>
  <td class="reqParam"><input type="text" class="form-control" name="{{@key}}"></td>
  <td class="desc">{{{desc}}}</td>
  </tr>
{{/eachSorted}}
</table>
{{/inline}}

{{#if urlParams}}
  <h2>URL parameters</h2>
  <table class="table">
  <tr><th class="name">name</th><th class="reqParam">value</th><th class="desc">description</th></tr>
  {{#each urlParams}}
    <tr>
    <td class="name">{{name}}</td>
    <td class="reqParam"><input type="text" class="form-control" name="url_{{@index}}" data-name="{{name}}"></td>
    <td class="desc">{{{desc}}}</td>
    </tr>
  {{/each}}
  </table>
{{/if}}

<h2>Request parameters</h2>

<ul>
{{#each restrictions}}
  <li>{{{desc}}}</li>
{{/each}}
</ul>

{{#if params}}
  {{> reqTable params=params}}
{{/if}}

{{#if paramsGlobal}}
  <h3>Global</h3>
  {{> reqTable params=paramsGlobal}}
{{/if}}
