{{#*inline "resItem"}}
<tr>
{{#if attr.include}}
  <td class="name">({{name}})</td>
{{else}}
  <td class="name">{{name}}</td>
{{/if}}
<td class="type">{{attr.type}}</td>
<td class="desc">{{{attr.desc}}}</td>
</tr>
{{/inline}}

{{#if fields}}
  <h2>Response fields</h2>
  <h3>Object</h3>
  <table class="table">
  <tr><th class="name">key</th><th class="type">type</th><th class="desc">description</th></tr>
  {{#eachSorted fields}}
    {{#unless attr.root}}
      {{> resItem}}
    {{/unless}}
  {{/eachSorted}}
  </table>

  {{#if types}}
    {{> typeDescription}}
  {{/if}}

  <h3>Root</h3>
  <table class="table">
  <tr><th class="name">key</th><th class="type">type</th><th class="desc">description</th></tr>
  {{#eachSorted fields}}
    {{#if attr.root}}
      {{> resItem}}
    {{/if}}
  {{/eachSorted}}
  </table>
{{/if}}
